body {
    background-color: #d3d3d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header-practica {
    text-align: center;
    padding: 20px;
}

.card-info {
    background: white;
    margin: 20px auto;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    border-left: 5px solid #2173dd;
}

.info-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-row span {
    font-size: 10px;
    color: gray;
}

.menu-niveles {
    padding: 20px 50px;
}

.grid-botones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    background: white;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 12px;
}

.btn.active {
    background: #2173dd;
    color: white;
}

.contenedor-principal {
    background-color: white;
    margin: 50px;
    padding: 50px;
    min-height: 300px;
    display: flex;
}

.caja {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    margin: 5px;
}

.rojo { background-color: red; }
.amarillo { background-color: yellow; }
.verde { background-color: green; }

.btn-volver {
    display: block;
    width: 250px;
    margin: 20px auto;
    padding: 10px;
    background-color: #2173dd;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.titulo-nivel {
    text-align: center;
    margin-top: 20px;
}

.n1 { justify-content: center; align-items: flex-start; }
.n2 { justify-content: flex-end; align-items: flex-start; }
.n3 { justify-content: flex-start; align-items: center; }
.n4 { justify-content: flex-start; align-items: flex-end; }
.n5 { justify-content: center; align-items: center; }
.n6 { justify-content: space-between; align-items: flex-end; }
.n7 { flex-direction: column; }
.n8 { flex-direction: row-reverse; justify-content: flex-start; }
.n9 { flex-direction: column; justify-content: flex-end; }
.n10 { flex-direction: row-reverse; justify-content: center; align-items: center; }
.n11 { flex-direction: column-reverse; justify-content: center; align-items: center; }